{% extends "base.html" %} {% block title %}Choose Prof{% endblock %} 

{% block content %}
    <div class="title">
        <h5 class="p-2">PERFORMANCE EVALUATION INSTRUMENT FOR TEACHING EFFECTIVENESS BY THE STUDENTS FOR ONLINE CLASS</h5>
    </div>

    {% for info in stuInfo %}
    <div id="div" style="border: black solid 1px;" class="p-3 m-3">
        Course: {{ info.enrolledCourse }} <br>
        {{ info.studentSection }} / {{ info.studentCampus }}<br>
        Faculty Name: {{ info.professorName }} <br>
    
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="facultyNames" name="facultyNames" value="{{info.professorName}}" readonly>
                <input type="text" class="form-control" id="course" name="course" value="{{info.enrolledCourse}}" readonly>
                <input type="text" class="form-control" id="campus" name="campus" value="{{info.studentCampus}}" readonly>
                <input type="text" class="form-control" id="college" name="college" value="{{info.studentCollege}}" readonly>
                <input type="text" class="form-control" id="class" name="class" value="{{info.studentSection}}" readonly>
                <input type="text" class="form-control" id="evalStatus" name="evalStatus" value="{{info.evaluationStatus}}" readonly>
            </div>    
            {%if info.evaluationStatus == 'YES'%}            
            <input type="submit" id="submitButton" class="btn btn-success" value="Submit" disabled>
            {%else%}
            <input type="submit" id="submitButton" class="btn btn-success" value="Submit">
            {%endif%}
        </form>
    </div>
    {% endfor %}

{% endblock %} 


