{% extends "base.html" %} {% block title %}Result{% endblock %} 

{% block content%}
  <table class="table">
    <thead>      
      <tr>
        <th>#</th>
        <!-- <th style="width: 1%;">Faculty Name</th> -->
        <th style="width: 1%;">Campus</th>
        <th style="width: 1%;">College</th>
        <th style="width: 100%;">Course</th>
        <th style="width: 1%;">Class</th>
        <th style="width: 100%;">Students</th>
        <th style="width: 1%;">A</th>
        <th style="width: 1%;">B</th>
        <th style="width: 1%;">C</th>
        <th style="width: 1%;">D</th>
        <th style="width: 1%;">APS</th>
        <th style="width: 100%;">Comments</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for rec in records %}
      <tr style="border-top: solid black 5px ;">
        <th scope="row"> 
          {{ rec.id }}
        </th>
  
        <!-- <td>
          {{ rec.facultyName }}
        </td> -->
  
        <td> 
          {{ rec.campus }}
        </td>
  
        <td> 
          {{ rec.college }}
        </td>
  
        <td> 
          {{ rec.course }}
        </td>
  
        <td> 
          {{ rec.facultyClass }}
        </td>
  
        <td> 
          {{ rec.studentsAnswered }}
        </td>
  
        <td> 
          {{ rec.catA }}
        </td>
  
        <td> 
          {{ rec.catB }}
        </td>
  
        <td> 
          {{ rec.catC }}
        </td>
  
        <td> 
          {{ rec.catD }}
        </td>
  
        <td> 
          {{ rec.APS }}
        </td>
  
        <td> 
          <div style="max-height: 100px; overflow-x: hidden; overflow-y: auto;">
            {{ rec.comments }}
          </div>
        </td>
  
        <td> 
          {{ rec.result }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}